<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>蔚蓝海</title>
    <meta name="keywords" content="蔚蓝海" />
    <meta name="description" content="蔚蓝海" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-1.2.1.pack.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $("#nav ul:eq(0) li").each(function(index){
                $(this).mouseover(function(){LoadNav(index);});
            });
            $("#banner").mouseover(function(){LoadNav(-1);});
        });
        function LoadNav(idx)
        {
            $("#nav ul:eq(0) li").attr("class","");
            $("#nav div").hide();
            
            $("#nav ul:eq(0) li:eq("+idx+")").attr("class","sel");
            
            if(document.getElementById("tag"+idx)!=undefined)
            {
                $("#tag"+idx).css("left",(330+93*idx)+"px");
                $("#tag"+idx).show();
            }            
        }
        function addBookmark(title) 
        {
             var url=parent.location.href;
             if (window.sidebar)              
                window.sidebar.addPanel(title, url,"");               
             else if( document.all ) 
                window.external.AddFavorite( url, title);
             else if( window.opera && window.print) 
                return true;
       }
    </script>
</head>
<body>
    <div id="main">
        <div id="top">
            <div id="logo"><img src="images/logo.jpg" /></div>
            <div id="favnav">
                <div id="fav"><a href="javascript:void(0)" onclick="addBookmark(document.title)">加入收藏</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">登录</a> | &nbsp;<a href="#">免费注册</a></div>
                <div id="nav">
                    <ul>
                        <li><a href="index.htm">网站首页</a></li>
                        <li><a href="gouwu.htm">购物频道</a></li>
                        <li><a href="#">服务收费</a></li>
                        <li><a href="myAccount.htm">我的帐户</a></li>
                        <li><a href="#">帮助支持</a></li>
                        <li><a href="#">新闻资讯</a></li>
                        <li><a href="#">联系方式</a></li>
                    </ul>
                    <div id="tag1" class="childmenu">
                        <ul>
                            <li><a href="sale.htm">销售和折扣</a></li>
                            <li><a href="menu.htm">美国网站目录</a></li>
                            <li><a href="#">购物贴士</a></li>
                            <li><a href="#">海淘经验</a></li>
                        </ul>
                    </div>
                    <div id="tag5" class="childmenu">
                        <ul>
                            <li><a href="#">最新公告</a></li>
                            <li><a href="#">优惠活动</a></li>
                            <li><a href="#">海关政策</a></li>
                            <li><a href="#">协议条款</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner" style="height:100px;">
            <img src="images/step4.jpg" />
        </div>
        
        <div id="erjipnl">
            <div id="lftpnl">
                <div id="picpnl">
                    <img src="images/a2.jpg" />
                    <img src="images/a3.jpg" />
                    <img src="images/a1.jpg" />
                </div>
            </div>
            <div id="rgtpnl">
                <div class="r_tle">
                    <div class="posi">您现在位置：<a href="index.htm">蔚蓝海</a> > 个人资料</div>
                </div>
                <div id="formzoom">
                    <h1>完善个人资料</h1>
                    <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:auto;">
                        <tr>
                            <td style="width:300px;">
                                <textarea id="TextArea2" cols="20" rows="2" style="width:260px;height:80px;"></textarea>
                            </td>
                            <td>
                                <textarea id="TextArea3" cols="20" rows="2" style="width:260px;height:80px;"></textarea>
                            </td>
                        </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" style="margin-top:20px;">
                        <tbody>
                            <tr>
                                <td align="right" style="width:150px;">您的电子邮件地址：</td>
                                <td>xxxxxxxxxx@hotmail.com</td>
                            </tr>
                            <tr>
                                <td align="right">您的中文姓名：</td>
                                <td><input id="Text1" type="text" /> <span>*</span></td>
                            </tr>
                            <tr>
                                <td align="right">您的英文姓名：</td>
                                <td><input id="Text2" type="text" value="First Name 名" style="width:110px;" onfocus="if(this.value=='First Name 名')this.value='';" onblur="if(this.value=='')this.value='First Name 名';" />
                                &nbsp;<input id="Text3" type="text" value="Last Name 姓" style="width:110px;" onfocus="if(this.value=='Last Name 姓')this.value='';" onblur="if(this.value=='')this.value='Last Name 姓';" /> <span>*</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">您的性别：</td>
                                <td>
                                    <select id="Select1">
                                        <option>男</option>
                                        <option>女</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">所属国家/地区：</td>
                                <td><input id="Text4" type="text" /> <span>*</span></td>
				            </tr>
                            <tr>
                                <td align="right">所属省/区：</td>
                                <td><select name="uprovinceID"  >
	                                <option value="">选择城市</option>
                                	
	                                <option value="0001"  >河南省---henang</option>
                                	
	                                <option value="0002"  >山东省---shandong</option>
	                                </select>
				                &nbsp;城市：<input id="Text5" type="text" /> <span>*</span>				                
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top" style="padding-top:4px;">联系地址：</td>
                                <td><input id="Text7" type="text" style="width:338px;" /> <span>*</span><br/>
                                <input id="Text13" type="text" style="width:338px;" /></td>
                            </tr>
                            <tr>
                                <td align="right">邮政编码：</td>
                                <td><input id="Text8" type="text" /> <span>*</span></td>
                            </tr>
                            <tr>
                                <td align="right">身份证号：</td>
                                <td><input id="Text6" type="text" style="width:338px;" /> <span>输入后不可修改</span></td>
                            </tr>
                            <tr>
                                <td align="right">手机号码：</td>
                                <td><input id="Text9" type="text" /> <span>*</span></td>
                            </tr>
                            <tr>
                                <td align="right">座机号码：</td>
                                <td><input id="Text14" type="text" /></td>
                            </tr>
                            <tr>
                                <td align="right">腾讯QQ：</td>
                                <td><input id="Text11" type="text" /></td>
                            </tr>
                            <tr>
                                <td align="right">M S N：</td>
                                <td><input id="Text12" type="text" /></td>
                            </tr>
                            <tr>
                                <td align="right" valign="top" style="padding-top:4px;">备注信息：</td>
                                <td><textarea id="TextArea1" cols="20" rows="2" style="width:338px;height:60px;"></textarea></td>
                            </tr>
                            <tr>
                                <td align="right">&nbsp;</td>
                                <td>                                    
                                    <a href="javascript:alert('保存信息，由程序完成!');window.location.href='myaccount.htm';"><img src="images/btn_save.jpg" /></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div id="btm">
            <p><a href="about.htm">关于我们</a> |            
            <a href="#">常见问题</a> | <a href="#">免责和理赔条款</a> |
            <a href="#">商务合作</a> |
            <a href="#">人才招聘</a> |
            <a href="#" style="color:#c20f08;">官方微博</a>
            <br/>
            版权所有 Copyright <span style="font-size:12px;font-family:Arial;">&copy;</span> 2008-2012 weilanhai. All Rights Reserved
            </p>
        </div>
    </div>
</body>
</html>