<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>蔚蓝海</title>
    <meta name="keywords" content="蔚蓝海" />
    <meta name="description" content="蔚蓝海" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-1.2.1.pack.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $("#nav ul:eq(0) li").each(function(index){
                $(this).mouseover(function(){LoadNav(index);});
            });
            $("#banner").mouseover(function(){LoadNav(-1);});
        });
        function LoadNav(idx)
        {
            $("#nav ul:eq(0) li").attr("class","");
            $("#nav div").hide();
            
            $("#nav ul:eq(0) li:eq("+idx+")").attr("class","sel");
            
            if(document.getElementById("tag"+idx)!=undefined)
            {
                $("#tag"+idx).css("left",(330+93*idx)+"px");
                $("#tag"+idx).show();
            }            
        }
        function addBookmark(title) 
        {
             var url=parent.location.href;
             if (window.sidebar)              
                window.sidebar.addPanel(title, url,"");               
             else if( document.all ) 
                window.external.AddFavorite( url, title);
             else if( window.opera && window.print) 
                return true;
       }
    </script>
</head>
<body>
    <div id="main">
        <div id="top">
            <div id="logo"><img src="images/logo.jpg" /></div>
            <div id="favnav">
                <div id="fav"><a href="javascript:void(0)" onclick="addBookmark(document.title)">加入收藏</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">登录</a> | &nbsp;<a href="#">免费注册</a></div>
                <div id="nav">
                    <ul>
                        <li><a href="index.htm">网站首页</a></li>
                        <li><a href="gouwu.htm">购物频道</a></li>
                        <li><a href="#">服务收费</a></li>
                        <li><a href="myAccount.htm">我的帐户</a></li>
                        <li><a href="#">帮助支持</a></li>
                        <li><a href="#">新闻资讯</a></li>
                        <li><a href="#">联系方式</a></li>
                    </ul>
                    <div id="tag1" class="childmenu">
                        <ul>
                            <li><a href="sale.htm">销售和折扣</a></li>
                            <li><a href="menu.htm">美国网站目录</a></li>
                            <li><a href="#">购物贴士</a></li>
                            <li><a href="#">海淘经验</a></li>
                        </ul>
                    </div>
                    <div id="tag5" class="childmenu">
                        <ul>
                            <li><a href="#">最新公告</a></li>
                            <li><a href="#">优惠活动</a></li>
                            <li><a href="#">海关政策</a></li>
                            <li><a href="#">协议条款</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner" style="height:100px;">
            <img src="images/step4.jpg" />
        </div>
        
        <div id="erjipnl">
            <div id="lftpnl">
                <div id="menu">
                    <div class="item">
                        <div class="cagname"><img src="images/gouwudingdan.jpg" /></div>
                        <ul>
                            <li><a href="myAccount.htm">购物单面板</a></li>
                            <li><a href="order_current.htm">当前订单</a></li>
                            <li><a href="order_history.htm">历史订单</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="cagname"><img src="images/yundanguanli.jpg" /></div>
                        <ul>
                            <li><a href="report.htm">提交预报</a></li>
                            <li><a href="view.htm">预报查询</a></li>
                            <li><a href="product.htm">库存包裹</a></li>
                            <li><a href="yundan.htm">提交运单</a></li>
                            <li><a href="yundan_current.htm">当前运单</a></li>
                            <li><a href="yundan_history.htm">历史运单</a></li>
                            <li><a href="address.htm">地址薄</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="cagname"><img src="images/zhanghuguanli.jpg" /></div>
                        <ul>
                            <li><a href="my_info.htm">个人资料</a></li>
                            <li><a href="update_pwd.htm">修改密码</a></li>
                            <li><a href="add_money.htm">在线充值</a></li>
                            <li><a href="caiwu_details.htm">财务明细</a></li>
                            <li><a href="zhangdan.htm">电子账单</a></li>
                            <li><a href="exit.htm">安全退出</a></li>
                        </ul>
                    </div>
                </div>
                <div id="picpnl">
                    <img src="images/a2.jpg" />
                    <img src="images/a3.jpg" />
                    <img src="images/a1.jpg" />
                </div>
            </div>
            <div id="rgtpnl">
                <div class="r_tle">
                    <div class="posi">您现在位置：<a href="index.htm">蔚蓝海</a> > 运单管理 > 提交运单</div>
                </div>
                <div id="formzoom">
                    <h1>提交运单</h1>
                    <table border="0" cellpadding="0" cellspacing="0" class="tbllist">
                        <tbody>
                            <tr>
                                <td colspan="6" style="text-align:left;padding-left:10px;"><b>第一步：选择仓库包裹</b></td>
                            </tr>
                            <tr style="font-weight:bold;">                                
                                <td>运单号</td>
                                <td>仓库位置</td>
                                <td>实重</td>
                                <td>体积重</td>
                                <td>仓储期</td>                                             
                                <td>操作</td>
                            </tr>
                            <tr>
                                <td>123456789</td>
                                <td>仓库位置</td>
                                <td>1KG</td>
                                <td>1.5KG</td>
                                <td>10天</td>
                                <td><input id="Checkbox1" type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>123456789</td>
                                <td>仓库位置</td>
                                <td>1KG</td>
                                <td>1.5KG</td>
                                <td>10天</td>
                                <td><input id="Checkbox2" type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>123456789</td>
                                <td>仓库位置</td>
                                <td>1KG</td>
                                <td>1.5KG</td>
                                <td>10天</td>
                                <td><input id="Checkbox3" type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>123456789</td>
                                <td>仓库位置</td>
                                <td>1KG</td>
                                <td>1.5KG</td>
                                <td>10天</td>
                                <td><input id="Checkbox4" type="checkbox" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table border="0" cellpadding="0" cellspacing="0" class="tbllist">
                        <tbody>
                            <tr>
                                <td colspan="2" style="text-align:left;padding-left:10px;"><b>第二步：包裹信息和增值服务</b></td>
                            </tr>
                            <tr>
                                <td align="right" style="width:100px;text-align:right;">货物说明：</td>
                                <td style="text-align:left;padding-left:3px;"><input id="Text4" type="text" /></td>
                            </tr>
                            <tr>
                                <td align="right" style="text-align:right;">海关申报价值：</td>
                                <td style="text-align:left;padding-left:3px;"><input id="Text2" type="text" /> 美金</td>
                            </tr>
                            <tr>
                                <td align="right" style="text-align:right;">购买保险：</td>
                                <td style="text-align:left;padding-left:3px;">
                                    <input id="Radio4" type="radio" name="chk_bx" /><label for="Radio4">是</label>
                                     保额：<input id="Text3" type="text" style="width:80px" /> 美金
                                     &nbsp;&nbsp;&nbsp;&nbsp;
                                     <input id="Radio5" type="radio" name="chk_yq" /><label for="Radio5">否</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="text-align:right;">操作要求：</td>
                                <td style="text-align:left;padding-left:3px;">
                                    <input id="Radio1" type="radio" name="chk_yq" /><label for="Radio1">原箱转运</label>
                                    <input id="Radio2" type="radio" name="chk_yq" /><label for="Radio2">合箱服务</label>
                                    <input id="Radio3" type="radio" name="chk_yq" /><label for="Radio3">分箱服务</label>
                                     分箱数量：<select id="Select1">
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                            </tr>
                            
                            <tr>
                                <td align="right" style="text-align:right;">免费增值服务：</td>
                                <td style="text-align:left;padding-left:3px;">
                                    <input id="Radio6" type="radio" name="chk_zz" /><label for="Radio6">取出发票</label>
                                    <input id="Radio7" type="radio" name="chk_zz" /><label for="Radio7">清点数量（十箱内免费）</label>
                                    <input id="Radio8" type="radio" name="chk_zz" /><label for="Radio8">更换外箱</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="text-align:right;">收费服务：</td>
                                <td style="text-align:left;padding-left:3px;">
                                    <input id="Radio9" type="radio" name="chk_sf" /><label for="Radio9">货物拍照</label>
                                    <input id="Radio10" type="radio" name="chk_sf" /><label for="Radio10">特殊加固（每磅1美金）</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top" style="text-align:right;padding-top:8px;">备注说明：</td>
                                <td style="text-align:left;padding:5px 0px 5px 3px;"><textarea id="TextArea1" cols="20" rows="2" style="width:400px;height:60px;">其他要求和说明，请尽量详细。</textarea></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table border="0" cellpadding="0" cellspacing="0" class="tbllist">
                        <tbody>
                            <tr>
                                <td style="text-align:left;padding-left:10px;"><b>第三步：收货信息<span style="font-size:12px;font-weight:lighter;color:#000;">（设定您的收货信息）</span></b></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;padding:10px 0px 10px 50px;line-height:35px;">
                                    操作说明：收件人姓名和地址同天不能重复<br/>
                                    <textarea id="TextArea2" cols="20" rows="2" style="width:500px;height:60px;"></textarea><br/>
                                    <a href="#"><img src="images/btn_add.jpg" /></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <p style="text-align:right;"><a href="#"><img src="images/btn_sub.jpg" /></a>&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
        
        <div id="btm">
            <p><a href="about.htm">关于我们</a> |            
            <a href="#">常见问题</a> | <a href="#">免责和理赔条款</a> |
            <a href="#">商务合作</a> |
            <a href="#">人才招聘</a> |
            <a href="#" style="color:#c20f08;">官方微博</a>
            <br/>
            版权所有 Copyright <span style="font-size:12px;font-family:Arial;">&copy;</span> 2008-2012 weilanhai. All Rights Reserved
            </p>
        </div>
    </div>
</body>
</html>