body{font-family:宋体;margin:0px auto;color:#484846;font-size:12px;}

img{border:none;}
a:link{color:#282826;text-decoration:none;}        
a:visited{color:#282826;text-decoration:none;}
a:hover{color:#ff0000;text-decoration:underline;}
ul{margin:0px;padding:0px;}
ul li{margin:0px;padding:0px;list-style:none;}

#main{width:980px;height:auto;margin:0px auto;position:relative;}
#top{width:980px;height:113px;overflow:hidden;border-bottom:solid 3px #c81500;}
#top #logo{width:247px;height:113px;overflow:hidden;float:left;}
#top #favnav{width:650px;height:113px;overflow:hidden;float:right;background:url(../images/map.jpg) no-repeat right 0px;}
#top #favnav #fav{width:224px;height:16px;overflow:hidden;margin-top:32px;float:right;background:url(../images/fav.jpg) no-repeat;text-indent:21px;line-height:16px;}
#top #favnav #nav{width:650px;height:37px;overflow:hidden;margin-top:75px;}
#top #favnav #nav ul{width:651px;height:37px;overflow:hidden;}
#top #favnav #nav ul li{width:92px;height:27px;padding-top:10px;overflow:hidden;float:left;border-right:solid 1px #e6f0f1;background:url(../images/navbj.jpg) repeat-x;line-height:20px;text-align:center;color:#ffffff;}
#top #favnav #nav ul li a{color:#ffffff;text-decoration:none;margin-top:10px;}
#top #favnav #nav ul .sel{background-image:none;background-color:#ca1500;}
#top #favnav #nav .childmenu{width:116px;height:auto;position:absolute;background-color:#ca1500;top:112px;left:330px;background-image:none;display:none;z-index:1000;}
#top #favnav #nav .childmenu ul{width:116px;height:auto;}
#top #favnav #nav .childmenu ul li{width:116px;height:25px;border-bottom:solid 1px #ffffff;overflow:hidden;line-height:25px;text-align:center;color:#ffffff;background-image:none;}
#top #favnav #nav .childmenu ul li a{margin:0px;}

#banner{width:980px;height:280px;overflow:hidden;}
#banner #scolpic{width:730px;height:280px;overflow:hidden;position:relative;float:left;}
#banner #scolpic ul{width:auto;height:280px;overflow:hidden;margin:0px;}
#banner #scolpic ul li{width:730px;height:280px;overflow:hidden;text-align:center;float:left;}
#banner #scolpic ul li img{width:730px;height:280px;}
#banner #scolpic #numbar{width:auto;height:15px;position:absolute;bottom:5px;left:5px;}
#banner #scolpic #numbar ul{width:auto;height:15px;}
#banner #scolpic #numbar ul li{width:18px;height:15px;overflow:hidden;float:left;margin:0px 2px 0px 0px;text-align:center;line-height:15px;font-size:10px;color:#ffffff;cursor:pointer;}
#banner #scolpic #numbar ul .sel{background-color:#ff0000;}

#banner #fbrpic{width:250px;height:280px;overflow:hidden;float:left;}
#btm{width:980px;height:87px;overflow:hidden;margin-top:20px;background:#dfdfdf url(../images/btmbj.jpg) repeat-x;text-align:center;line-height:28px;}
#btm p{margin:0px;padding:0px;margin-top:22px;}
#btm a{padding-left:5px;}


/*idx*/
#idxfir{width:980px;height:288px;overflow:hidden;margin-top:14px;}
#idxfir #itmpnl{width:1001px;height:288px;overflow:hidden;}
#idxfir #itmpnl .item{width:229px;height:288px;overflow:hidden;float:left;margin-right:21px;}
#idxfir #itmpnl .item .itle{width:229px;height:32px;overflow:hidden;}
#idxfir #itmpnl .item .itle .inm{float:left;}
#idxfir #itmpnl .item .itle .imr{float:right;margin-top:12px;width:39px;height:14px;overflow:hidden;}
#idxfir #itmpnl .item .icnt{width:229px;height:249px;overflow:hidden;margin-top:7px;}
#idxfir #itmpnl .item .icnt .pho{width:229px;height:76px;overflow:hidden;}
#idxfir #itmpnl .item .icnt .pho img{width:223px;height:70px;border:solid 1px #e6e6e6;padding:2px;}
#idxfir #itmpnl .item .icnt .info{width:200px;height:132px;overflow:hidden;border-right:solid 1px #d6d7d2;margin-top:18px;padding:0px 15px 0px 13px;line-height:27px;}
#idxfir #itmpnl .item .icnt .info .more{color:#4a4a48;font-weight:bold;text-decoration:none;}
#idxfir #itmpnl .item .icnt .ser{width:229px;height:179px;overflow:hidden;border-top:solid 1px #d6d7d2;}
#idxfir #itmpnl .item .icnt .ser ul{width:174px;height:auto;margin-left:7px;}
#idxfir #itmpnl .item .icnt .ser ul li{width:174px;height:28px;overflow:hidden;border-bottom:solid 1px #ebece7;line-height:28px;background:url(../images/sj.jpg) no-repeat 10px 11px;text-indent:26px;}
#idxfir #itmpnl .item .icnt .serpho{width:195px;height:59px;overflow:hidden;margin:10px 0px 0px 9px;}
#idxfir #itmpnl .item .icnt .serpho img{width:189px;height:53px;border:solid 1px #e6e6e6;padding:2px;}

#idxsec{width:980px;height:159px;overflow:hidden;margin-top:8px;}
#idxsec #gouwu{width:727px;height:157px;overflow:hidden;float:left;border:solid 1px #d8d8d6;background:url(../images/gwpd.jpg) no-repeat 9px 13px;}
#idxsec #rgad{width:226px;height:159px;overflow:hidden;float:right;}

#idxsec #gouwu #gwpnl{width:688px;height:157px;overflow:hidden;float:right;margin-right:-1px;}
#idxsec #gouwu #gwpnl .item{width:171px;height:157px;overflow:hidden;border-right:solid 1px #d8d8d6;float:left;}
#idxsec #gouwu #gwpnl .item ul{width:152px;height:135px;overflow:hidden;margin:10px auto;}
#idxsec #gouwu #gwpnl .item ul .a{width:152px;height:20px;overflow:hidden;line-height:20px;text-align:center;font-weight:bold;}
#idxsec #gouwu #gwpnl .item ul .a a{font-weight:bold;}
#idxsec #gouwu #gwpnl .item ul .b{width:152px;height:44px;overflow:hidden;line-height:22px;}
#idxsec #gouwu #gwpnl .item ul .c{width:152px;height:66px;overflow:hidden;margin-top:5px;}
#idxsec #gouwu #gwpnl .item ul .c img{width:146px;height:60px;border:solid 1px #e6e6e6;padding:2px;}


/*erji*/
#erjipnl{width:980px;height:auto;}
#erjipnl #lftpnl{width:233px;min-height:500px;height:auto;float:left;overflow-x:hidden;background:#ffffff url(../images/leftbj.jpg) repeat-x;}
#erjipnl #rgtpnl{width:747px;height:auto;float:right;overflow-x:hidden;background:#ffffff url(../images/rightbj.jpg) repeat-x;}

#erjipnl #lftpnl .l_tle{width:217px;height:52px;overflow:hidden;border-bottom:solid 1px #e3e7e8;margin:0px 0px 0px 15px;}
#erjipnl #lftpnl #l_list{width:172px;height:auto;margin:5px 0px 0px 15px;}
#erjipnl #lftpnl #l_list ul{width:172px;height:auto;}
#erjipnl #lftpnl #l_list ul li{width:172px;height:26px;overflow:hidden;border-bottom:solid 1px #e8eced;line-height:26px;background:url(../images/sj.jpg) no-repeat 11px 9px;text-indent:24px;}
#erjipnl #lftpnl #l_list ul .sel{color:#ce1a01;}
#erjipnl #lftpnl #l_list ul .sel a{color:#ce1a01;}
#erjipnl #lftpnl #menu{width:218px;height:auto;margin:18px 0px 0px 15px;}
#erjipnl #lftpnl #menu .item{width:218px;height:auto;margin-bottom:10px;}
#erjipnl #lftpnl #menu .item .cagname{width:218px;height:38px;font-size:14px;line-height:38px;font-weight:bold;color:#000;border-bottom:solid 1px #e1e4eb;}
#erjipnl #lftpnl #menu .item ul{width:172px;height:auto;}
#erjipnl #lftpnl #menu .item ul li{width:172px;height:26px;overflow:hidden;border-bottom:solid 1px #e8eced;line-height:26px;background:url(../images/sj.jpg) no-repeat 11px 9px;text-indent:24px;}
#erjipnl #lftpnl #menu .item ul .sel{color:#ce1a01;}
#erjipnl #lftpnl #menu .item ul .sel a{color:#ce1a01;}
#erjipnl #lftpnl #picpnl{width:222px;height:auto;margin:23px 0px 0px 0px;text-align:center;}
#erjipnl #lftpnl #picpnl img{margin-bottom:11px;}

#erjipnl #rgtpnl .r_tle{width:700px;height:34px;overflow:hidden;margin:23px 0px 0px 20px;background:url(../images/tlebj.jpg) no-repeat 0px 33px;}
#erjipnl #rgtpnl .r_tle .posi{width:auto;height:34px;background:url(../images/tle_ico.jpg) no-repeat 0px 0px;line-height:34px;text-indent:20px;color:#474747;}
#erjipnl #rgtpnl .r_tle .posi a{color:#474747;}
#erjipnl #rgtpnl #cntzoom{width:700px;height:auto;overflow-x:hidden;margin:10px 0px 0px 20px;}
#erjipnl #rgtpnl #cntzoom .item{width:auto;height:auto;margin:10px 0px 40px 20px;line-height:25px;clear:both;}
#erjipnl #rgtpnl #cntzoom .item img{float:left;margin-right:10px;}

#logpnl{width:293px;height:auto;border:solid 1px #ddddd8;padding:1px;margin:124px auto;color:#000;font-size:14px;}
#logpnl .ltle{width:293px;height:29px;overflow:hidden;background:url(../images/logtelbj.jpg);line-height:29px;text-indent:15px;}
#logpnl table{width:253px;margin:20px auto;}
#logpnl table td{height:35px;padding-left:5px;}

#formzoom{width:700px;height:auto;overflow-x:hidden;margin:10px 0px 0px 20px;}
#formzoom h1{width:680px;height:30px;line-height:30px;font-weight:bold;color:#000;border-bottom:solid 1px #e8eced;font-size:14px;text-indent:5px;margin-top:20px;}
#formzoom table{width:100%;}
#formzoom table td{height:40px;}
#formzoom table td span{color:#ff0000;}
#formzoom a:link{color:#003366;text-decoration:underline;}
#formzoom a:visited{color:#003366;text-decoration:underline;}
#formzoom a:hover{color:#ff0000;text-decoration:underline;}
#formzoom .news_zoom{width:670px;padding:0px 10px 0px 20px;line-height:25px;}
#formzoom .news_zoom p{margin:10px 0px 10px 0px;padding:0px;}
#formzoom .news_zoom .wrdlist{width:670px;height:auto;}
#formzoom .news_zoom .wrdlist li{width:650px;height:auto;padding-left:20px;line-height:20px;margin-bottom:5px;background:url(../images/li_yq.jpg) no-repeat 5px 5px;}

#formzoom .tbllist{width:98%;border-top:solid 1px #e8eced;border-left:solid 1px #e8eced;background:#ffffff url(../images/rightbj.jpg) repeat-x;}
#formzoom .tbllist td{height:30px;border-right:solid 1px #e8eced;border-bottom:solid 1px #e8eced;text-align:center;}

#shop_container{width:727px;height:auto;overflow-x:hidden;margin:10px 0px 0px 20px;}
#shop_container #cart{width:727px;height:30px;line-height:30px;}
#shop_container #cart a{padding-left:1px;font-size:14px;font-weight:bold;}
#shop_container .pagebar{width:727px;height:20px;line-height:20px;text-align:right;padding:10px 0px 10px 0px;color:#070707;font-size:14px;}
#shop_container .pagebar a{color:#070707;text-decoration:underline;font-family:宋体;font-size:14px;}
#shop_container .pagebar a:hover{color:#ff0000;}
#shop_container #shop_list{width:727px;height:auto;margin:0px auto;}
#shop_container #shop_list .item{width:727px;height:131px;overflow:hidden;padding:15px 0px 15px 0px;border-bottom:solid 1px #e6e6e6;}
#shop_container #shop_list .item img{width:246px;height:121px;border:solid 1px #e6e6e6;padding:2px;float:left;}
#shop_container #shop_list .item ul{width:460px;height:auto;float:right;overflow:hidden;line-height:22px;}
#shop_container #shop_list .item ul .a{width:460px;height:25px;line-height:25px;}
#shop_container #shop_list .item ul .a a{color:#dc0000;font-size:14px;font-weight:bold;font-family:Arial;}
#shop_container #shop_list .item ul .b{width:460px;height:80px;line-height:20px;padding:5px 0px 0px 0px;}
#shop_container #shop_list .item ul .c{width:450px;height:20px;line-height:20px;padding:0px 0px 0px 10px;background:url(../images/sj.jpg) no-repeat 0px 6px;text-align:left;}
#shop_container #shop_list .item ul .c a{font-size:12px;font-family:Arial;}

#tipzoom{width:650px;height:auto;overflow-x:hidden;margin:10px auto;}
#tipzoom .item{width:650px;height:auto;padding-bottom:20px;}
#tipzoom .item .q_n{width:650px;height:16px;line-height:16px;padding:5px 0px 5px 0px;border-bottom:dotted 1px #9d9d9d;font-weight:bold;color:#626463;}
#tipzoom .item .a_n{width:650px;height:auto;line-height:20px;padding:5px 0px 0px 0px;}

/*公告*/
#erjipnl #rgtpnl #newlist{width:700px;height:auto;overflow-x:hidden;margin:10px 0px 0px 20px;}
#erjipnl #rgtpnl #newlist ul{width:700px;height:auto;}
#erjipnl #rgtpnl #newlist ul li{width:700px;height:20px;overflow:hidden;line-height:20px;padding:7px 0px 3px 0px;background:url(../images/sj.jpg) no-repeat 5px 13px;text-align:left;border-bottom:dotted 1px #dddddd;}
#erjipnl #rgtpnl #newlist ul li a{float:left;text-indent:15px;font-family:宋体;}
#erjipnl #rgtpnl #newlist ul li span{float:right;}
#newlist .pagebar{width:700px;height:20px;line-height:20px;text-align:center;padding:10px 0px 10px 0px;color:#070707;font-size:14px;}
#newlist .pagebar a{color:#070707;text-decoration:underline;font-family:宋体;font-size:14px;}
#newlist .pagebar a:hover{color:#ff0000;}

/*购物问答*/
#tipzoom{width:650px;height:auto;overflow-x:hidden;margin:10px auto;}
#tipzoom .item{width:650px;height:auto;padding-bottom:20px;}
#tipzoom .item .q_n{width:650px;height:16px;line-height:16px;padding:5px 0px 5px 0px;border-bottom:dotted 1px #9d9d9d;text-indent:18px;font-weight:bold;color:#626463;background:url(../images/a.jpg) no-repeat 0px 7px;}
#tipzoom .item .a_n{width:620px;height:auto;line-height:20px;padding:5px 0px 0px 18px;background:url(../images/q.jpg) no-repeat 0px 8px;}